/* styles for condition-editor/components/condition-editor/index.css */
._ConditionEditor_1p9vl5 {
    display: flex;
    width: 75vw;
    margin: auto;
}

._ConditionEditor_1p9vl5 > * {
    flex-basis: 0;
    flex-grow: 1;
    margin: 0 1em;
}

._TextInput_1p9vl5 {
    font-size: 14px;
    line-height: 1.75;
    width: 100%;
}

._ValidationMessages_1p9vl5 {
    color: #a00;
    margin: 0.2em;
}

._ClearButton_1p9vl5 {
    flex-grow: 0;
}

._ClearButton_1p9vl5 > button {
    font-size: 14px;
    line-height: 1.75;
}

/* styles for condition-editor/components/product-table/index.css */
._ProductTable_1vl7bh {
    width: 75vw;
    margin: 1.5em auto 0;
    border-collapse: collapse;
    table-layout: fixed;
}

._ProductTable_1vl7bh th, td {
    border: 1px solid black;
    padding: 0.2em;
}

._Loading_1vl7bh {
    opacity: 50%;
}

/* styles for condition-editor/styles/app.css */

/* styles for condition-editor/styles/application.css */
._Title_mpcb0m {
    text-align: center;
}
